.auth.logo_bottom{
	margin-top: 10px;
	text-align: center;
}
.auth.logo_title_bottom{
	font-size: 10px;
	text-align: center;
}
.auth.low_input{
	width: 80px;
	text-align: center;
}
.auth.notification_container{
	position: fixed;
    top: 0px;
    z-index: 9000;
    left: calc(50% - 379px/2);
    text-align: center;
    width: 379px;
}
.auth.panel_container{
	position: relative;
	margin-top: 120px;
    left: calc(50% - 300px/2);
    width: 300px;
}
.auth.panel_container.standalone{
    margin-top: 50px !important;
    left: calc(50% - 400px/2);
    width: 400px;
}
.auth.bg_login{
	background-image: url();
}
.auth.image_container{
	background-color: none !important;
	background-image: url('../../../../assets/img/component/card/sm/1.png');
    height: 110px;
    background-size: cover;
}
.auth.image_container.register{
    background-color: none !important;
    background-image: url('../../../../assets/img/component/card/sm/1.png');
    height: 110px;
    background-size: cover;
}
.auth.user_image_container{
	display: block;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    margin-bottom: 10px;
    background-size: 100px;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/img/component/avatar_2x.png');
}
.auth.home_image_container{
    display: block;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    margin-bottom: 10px;
    background-size: 100px;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/img/component/home.png');
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.auth.register_container{
    position: relative !important;
    color: #fff !important;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: auto;
      height: 100%;
    }
  }

  @media (max-width: 767px) {
    .fullscreen-bg {
      background-color: #4283BF;
    }
  
    .fullscreen-bg__video {
      display: none;
    }
  }